.search input:hover,
.search input{
  border-bottom: 1.5px black solid;
}

.search input{
  background-color: transparent;
  position: absolute;
  z-index: 0;
  height: 2.5rem;
  padding-left: 2rem;
}

.search input[type="search"]::placeholder{
  color: var(--text-color);
  font-weight: 300;
}

.search input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.searchIcon{
  margin: .5rem 0;
}