.row {
  margin: 0;
}

.footer{
  background-color: var(--bg-dark-2);
  position: relative;
  bottom: 0;
  padding: 4rem 0;
}

.footer a{
  color: var(--text-color-light);
}

.footer .info{
  background-color: gray;
  border-radius: .25rem;
}

.footer .info img{
  border-radius: 50%;
  width: 10rem;
}

