:root{
  --primary: #6625BF;
  --secondary: ;
  --bg-dark: #131417;
  --bg-dark-2: #282828;
  --text-color: #717691;
  --text-color-2: #aaaebc;
  --text-color-3: #ACACAC;

  --text-color-light: #fefffe;
  --bg-light: ;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

body{
  background-color: var(--bg-dark);
}

h1, h2, h3, h4, h5, h6, p{
  color: var(--text-color-light);
}

input, textarea{
  outline: none;
  border: none;
}