:root{
  --primary: #6625BF;
  --secondary: ;
  --bg-dark: #131417;
  --text-color: #717691;
  --text-color-2: #aaaebc;

  --text-color-dark: #fefffe;
  --bg-light: ;
}

*{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
}